.membership-card{
  opacity : 0.6;
}

.memberships{
  display: flex;
  justify-content: space-evenly;
}

.center{
  text-align: center;
}
.row{
  margin-top: 20px;
}

.activity{
  width: 15rem;
}
.margin-tops{
  margin-top: 20px;
}